<%= provide(:title,@user.name) %>
<div class="row">
  <aside class="span4">
	<section>
	  <h1>
		<%= gravatar_for @user %>
		<%= @user.name %>
		<%= @user.email %>
	  </h1>
	</section>
	<section>
	  <%= link_to "Share your Picture", albums_new_path %>
	</section>
  </aside>
  <div class="span8">
	<% if @user.albums.any? %>
	  <h3>You have <%= @user.albums.count %> albums</h3>
	  <%= will_paginate @albums %>
	  <ul class="albums">
		<%= render @albums %>
	  </ul>
	  <%= will_paginate @albums %>
	<% end %>
  </div>
</div>
