<%= form_for(@album, :html => { :multipart => true }) do |f| %>
  <% if @album.errors.any? %>
	<div id="error_explanation">
	  <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

	  <ul>
		<% @album.errors.full_messages.each do |msg| %>
		  <li><%= msg %></li>
		<% end %>
	  </ul>
	</div>
  <% end %>


  <div class="field">
	<%= f.label "Album title" %>
	<%= f.text_field :title %>
  </div>

  <%= f.fields_for :album_pics do |p| %>
	<div class="field">
	  <%= p.label "Choose your pictures"%>
	  <%= p.file_field :pic, :multiple => true, name: "album_pics[pic][]" %>
	</div>
  <% end %>

  <div class="field">
	<%= f.text_area :content, placeholder: "Description your album"%>
  </div>

   <div class="actions">
     <%= f.submit %>
   </div>

  <%#= f.submit "Share", class: "btn btn-large btn-primary" %>
  
<% end %>
